.header {
  width: 100%;
  padding: 20px 0;
  background: rgba(18, 18, 18, 0.5);
  z-index: 19;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 8px 0px 81px 0px rgba(0, 0, 0, 0.6);
  @include media(1000px) {
    padding: 12px 0;
  }
  .mobil-search {
    background: none;
    cursor: pointer;
    border: none;
    display: none;
    @include media(1280px) {
      display: block;
    }
  }
  &__profile {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #dfdfdf;
    border: none;
    @include font(500, 20px, 1.2);
    letter-spacing: -0.6px;
    color: #041b20;
    cursor: pointer;

    position: relative;
    .profile-modal {
      width: 312px;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: calc(100% + 4px);
      right: 0;
      padding: 32px 0;
      border-radius: 15px;
      background: #242424;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.3);
      color: #fff;
      &__top {
        display: flex;
        padding: 0 42px;
        align-items: center;
        gap: 23px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: -0.54px;
        margin-bottom: 33px;
        span {
          white-space: nowrap;
          &:first-child {
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
          }
          &:last-child {
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
          }
        }
      }
      .logout {
        margin: 20px 42px 0;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #ff2929;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: -0.6px;
        background: none;
        border: none;
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
        }
      }
      &__item {
        display: flex;
        align-items: center;
        gap: 16px;
        text-decoration: none;
        margin: 0 18px;
        padding: 12px 24px;
        border-radius: 15px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
        transition: all 0.3s ease;
        &:hover {
          color: #fff;
          background: rgba($color: $bg-color, $alpha: 0.2);
        }
        letter-spacing: -0.6px;
        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__second-nav {
    display: flex;
    align-items: center;
    @include media(1280px) {
      display: none;
    }
  }
  &__search {
    margin-right: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    input {
      display: none;
      background: none;
      border: none;
      pointer-events: none;
    }
    border-radius: 15px;
    background: rgba(28, 28, 28, 0.5);
    padding: 18px;
  }
  &__login-btn {
    @extend %pr-btn;
  }
  &-burger {
    background: none;
    border: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: none;
    @include media(1280px) {
      display: block;
    }
    img {
      width: 100%;
      height: 100%;
    }
    @include media(400px) {
      width: 30px;
      height: 30px;
    }
  }
}
.navigation {
  @include media(1280px) {
    display: none;
  }
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__item {
    position: relative;
    a {
      padding-bottom: 4px;
      &.router-link-active {
        &::after {
          width: 100%;
        }
      }
      &::after {
        transition: all 0.3s ease;
        content: "";
        width: 0%;
        background: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
      @include font(400, 18px, 1.2);
      text-decoration: none;
      color: $white;
    }
  }
}
.site-logo {
  width: 96px;
  img {
    width: 100%;
  }
  @include media(800px) {
    width: 73px;
  }
}

.search {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-height: 460px;
  z-index: 20;
  form {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    input {
      width: 100%;
      padding: 12px 20px 12px 60px;
      border-radius: 15px;
      border: 1px solid #fff;
      background: url(@/assets/images/svg/search.svg), #111213;
      background-repeat: no-repeat;
      background-position: 31px 50%;
      color: #fff;
      @include font(400, 22px, 1.2);
      letter-spacing: -0.22px;
      @include media(720px) {
        padding: 10px 20px 10px 34px;
        background-position: 15px 50%;
        background-size: 14px;
      }
    }
    button {
      @extend %pr-btn;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      @include media(720px) {
        display: none;
      }
    }
  }
  @include media(920px) {
    width: 98%;
    transform: translate(0, 0);
    left: 0;
    margin: 2px 5px;
  }
  &-list {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    border-radius: 15px;
    background: #222;
    padding: 25px 0;
    list-style: none;
    max-height: 400px;
    overflow-y: auto;
    .search-serial {
      margin-top: 20px;
    }
    &::-webkit-scrollbar {
      width: 3px;
      background: $bg-color;
    }
    &::-webkit-scrollbar-thumb {
      background: #fff;
    }
    @include media(600px) {
      padding: 0;
    }
    h4 {
      margin-bottom: 12px;
      padding-left: 31px;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.2;
    }
    li {
      a {
        img {
          width: 51px;
          height: 72px;
          object-fit: cover;
        }
        .genres-wrapper {
          display: flex;
          align-items: center;
          gap: 5px;
        }
        .wrapper {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
        span {
          font-size: 16px;
          font-weight: 400;
        }
        text-decoration: none;
        padding: 6px 31px;
        border-radius: 15px;
        @include media(600px) {
          padding: 20px 20px;
        }
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        gap: 12px;
        color: #fff;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: -0.22px;
        &:hover {
          background: #3a3a3a;
        }
      }
    }
  }
}
.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 19;
}

.footer {
  &__top {
    padding: 38px 0;
    background: rgba(18, 18, 18, 1);
    .container {
      display: flex;
      align-items: center;
      @include media(1080px) {
        justify-content: space-between;
      }
      @include media(800px) {
        flex-direction: column;
      }
    }
  }
  &-apps {
    display: flex;
    align-items: center;
    @include media(1200px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @include media(1080px) {
      margin: 0;
    }
    margin-right: auto;
    @include media(800px) {
      margin: 0 auto 20px;
    }
    gap: 20px;
    a {
      text-decoration: none;
      display: flex;
      width: 135px;
      @include media(770px) {
        width: 115px;
      }
      img {
        width: 100%;
        height: 42px;
        @include media(770px) {
          height: 32px;
        }
      }
    }
  }
  &-connection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 97px;
    @include media(1080px) {
      margin: 0;
    }
    @include media(800px) {
      align-items: center;
      margin: 0 0 20px 0;
    }
    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      @include font(400, 18px, 1.2);
      color: rgba(255, 255, 255, 0.5);
      letter-spacing: -0.18px;
      @include media(770px) {
        font-size: 16px;
      }
      transition: all 0.3s ease;
      &:hover {
        color: #fff;
      }
      &-img {
        width: 39px;
        height: 39px;
        display: flex;
        @include media(770px) {
          width: 30px;
          height: 30px;
        }
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: rgba(36, 36, 36, 1);
        img {
          width: 18px;
          height: 18px;
          @include media(770px) {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }
  &-social {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 14px;
    @include media(1080px) {
      margin: 0;
    }
    li {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: #242424;
      border: 1px solid transparent;
      transition: all 0.3s ease;
      svg {
        path {
          transition: all 0.3s ease;
        }
      }
      &:hover {
        svg {
          path {
            fill: #fff;
          }
        }
        border-color: #fff;
      }
      &:first-child {
        svg {
          transform: translateX(-1px);
        }
      }
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__bottom {
    padding: 17px 0;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      @include media(820px) {
        flex-direction: column;
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    background: rgba(36, 36, 36, 1);
  }
  &__desc {
    @include font(300, 16px, 1.2);
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: -0.16px;
    text-align: center;
    a {
      color: #5b62ff;
    }
  }
}

.header-fixed {
  background: $bg-color;
  animation: animationheader 0.5s ease;
}

@keyframes animationheader {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  z-index: 22;
  height: 100%;
  background: rgba($color: $bg-color, $alpha: 0.9);
  backdrop-filter: blur(16.5px);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  .logout {
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 43px;
    width: 100%;
    gap: 10px;
    color: #ff2929;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.6px;
    background: none;
    border: none;
    cursor: pointer;
    img {
      width: 18px;
      height: 18px;
    }
  }
  &-top {
    padding: 12px 20px;
    border-bottom: 1px solid rgba(217, 217, 217, 0.2);

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    button {
      border: none;
      background: none;
      cursor: pointer;
    }
  }
  &-user {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #fff;
    padding: 15px 15px 15px 43px;
    border-bottom: 1px solid rgba(217, 217, 217, 0.2);
    transition: all 0.3s ease;
    &:hover {
      background: rgba($color: #fff, $alpha: 0.3);
    }
  }
  &-img {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #fff;
    background: #148139;
    border-radius: 50%;
  }
  &-name {
    @include font(400, 14px, 1.2);
    margin-bottom: 2px;
  }
  &-id {
    @include font(400, 12px, 1.2);
  }
  &-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    li {
      width: 100%;
    }
    a {
      transition: all 0.3s ease;
      &:hover {
        background: rgba($color: #fff, $alpha: 0.3);
      }
      display: inline-block;
      width: 100%;
      padding: 15px 15px 15px 43px;
      border-bottom: 1px solid rgba(217, 217, 217, 0.2);
      text-decoration: none;
      color: #fff;
      @include font(400, 16px, 1.2);
    }
  }
  .btn {
    margin: 20px 0 0 43px;
    border-radius: 6px;
    font-size: 16px;
    padding: 8px 24px;
    width: fit-content;
    @extend %pr-btn;
  }
}
