.profile-nav {
  list-style: none;

  div[role="tablist"] {
    display: grid;
    grid-template-columns: repeat(6, 1fr) !important;
    @include media(860px) {
      grid-template-columns: repeat(6, 130px) !important;
      width: fit-content;
    }
    width: 100%;
    background: #242424;
  }
  height: fit-content;
  border-radius: 8px;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 2px;
    background: #242424;
  }
  .absolute.duration-200 {
    .bg-white {
      background: none !important;
    }
  }
  &::-webkit-scrollbar-thumb {
    background: #fff;
  }
  button {
  }
  button[aria-selected="true"] {
    background: #424242 !important;
    color: #fff !important;
  }
  &__item {
    a {
      white-space: nowrap;
      display: inline-block;
      padding: 25px 82px;
      text-decoration: none;
      @include font(500, 22px, 1.2);
      letter-spacing: -0.2px;
      color: #dfdfdf;
      transition: all 0.3s ease;
      border-radius: 15px;
      &:hover {
        background: #424242;
      }
      &.router-link-active {
        background: #424242;
      }
      @include media(1050px) {
        padding: 14px 28px;
        font-size: 18px;
      }
      @include media(600px) {
        padding: 12px 24px;
        font-size: 16px;
      }
    }
  }
}
.profile {
  padding: 180px 0 100px;
  @include media(700px) {
    padding: 100px 0;
  }
  &__bottom {
    #img {
      display: none;
    }
    border-radius: 15px;
    background: #121212;
    &-wrapper {
      position: relative;
      .edit-profile {
        position: absolute;
        top: 70px;
        right: 40px;
        background: none;
        border: none;
        cursor: pointer;
        svg {
          width: 40px;
          height: 40px;
          @include media(600px) {
            width: 25px;
            height: 25px;
          }
        }
      }
      padding: 70px 40px 40px 73px;
      @include media(800px) {
        padding: 40px;
      }
      @include media(700px) {
        padding: 20px 0;
        background: $bg-color;
      }
    }
    &-title {
      margin-bottom: 70px;
      @include font(500, 28px, 1.2);
      @include media(1050px) {
        text-align: center;
        font-size: 24px;
        margin-bottom: 50px;
      }
      @include media(600px) {
        margin-bottom: 30px;
      }
    }
  }
  .upload-img {
    cursor: pointer;
  }
  &__img {
    position: relative;
    button {
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      bottom: 10px;
      right: 10px;
      svg {
        width: 40px;
        height: 40px;
      }
      background: #121212;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 10px;
    }
    width: 237px;
    height: 237px;
    background: #d9d9d9;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #000;
    @include font(600, 80px, 1.2);
    @include media(1050px) {
      width: 180px;
      height: 180px;
      font-size: 60px;
    }
    @include media(600px) {
      width: 100px;
      height: 100px;
      font-size: 40px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 60px;
    @include media(1050px) {
      flex-direction: column;
    }
    @include media(600px) {
      gap: 20px;
    }
    margin-bottom: 95px;
    &-list {
      list-style: none;
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: flex-end;
      @include media(800px) {
        width: 100%;
      }
      button {
        @extend %pr-btn;
      }
      &-item {
        display: flex;
        align-items: center;
        gap: 20px;
        @include font(500, 20px, 1.2);
        letter-spacing: -0.6px;
        color: rgba(255, 255, 255, 0.5);
        @include media(600px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
        }
        @include media(800px) {
          width: 100%;
        }
        white-space: nowrap;
        input {
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          width: 343px;
          height: 50px;
          border: 1px solid transparent;
          @include media(800px) {
            width: 100%;
            max-width: 600px;
            margin-left: auto;
          }
          border-radius: 15px;
          background: rgba(28, 28, 28, 0.5);
          padding: 13px 13px 13px 42px;
        }
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    gap: 150px;
    @include media(800px) {
      gap: 80px;
    }
    @include media(600px) {
      gap: 50px;
    }
  }
  &__id {
    @include font(600, 24px, 1.2);
    color: #fff;
    letter-spacing: -0.72px;
    @include media(1000px) {
      font-size: 20px;
    }
    @include media(800px) {
      font-size: 18px;
    }
  }
  &__balance {
    @include font(600, 24px, 1.2);
    color: #fff;
    letter-spacing: -0.72px;
    @include media(1000px) {
      font-size: 20px;
    }
    @include media(800px) {
      font-size: 18px;
    }
  }
  &__payment {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
    gap: 20px;
    padding-bottom: 70px;
    @include media(700px) {
      padding: 40px 0;
    }
    &-item {
      &-img {
        width: 135px;
        object-fit: contain;
        margin-bottom: 40px;
      }
      &-title {
        @include font(500, 24px, 1.2);
        margin-bottom: 20px;
        text-transform: capitalize;
        color: #fff;
      }
      &-info {
        color: rgba(255, 255, 255, 0.4);
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.6px;
        margin-bottom: 40px;
      }
      button {
        @extend %pr-btn;
      }
    }
  }
}
.change-pass {
  // @extend %pr-btn;
  // width: 343px;
  // text-align: center;
  color: #fff;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: underline;
  }
  @include media(400px) {
    font-size: 17px;
  }
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
