.saved {
  padding: 170px 0 100px;
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(220px, 100%), 1fr));
    @include media(900px) {
      gap: 20px;
    }
    @include media(762px) {
      grid-template-columns: repeat(auto-fill, minmax(min(180px, 100%), 1fr));
    }
    @include media(456px) {
      grid-template-columns: 1fr 1fr;
    }
    gap: 30px;
    margin-bottom: 70px;
    .movie-card {
      &__img {
        height: 365px;
        @include media(1760px) {
          height: 380px;
        }
        @include media(1810px) {
          height: 330px;
        }
        @include media(758px) {
          height: 300px;
        }
        @include media(660px) {
          height: 280px;
        }
        @include media(620px) {
          height: 340px;
        }
        @include media(516px) {
          height: 300px;
        }
        @include media(462px) {
          height: 270px;
        }
        @include media(457px) {
          height: 250px;
        }
        @include media(420px) {
          height: 220px;
        }
      }
    }
  }
  &__bottom {
    border-radius: 15px;
    background: #121212;

    &-wrapper {
      padding: 70px 40px 40px 73px;
      display: flex;
      flex-direction: column;
      @include media(800px) {
        padding: 40px;
      }
      @include media(700px) {
        padding: 20px 0;
        background: $bg-color;
      }
    }
    &-title {
      margin-bottom: 70px;
      @include font(500, 28px, 1.2);
    }
  }
  &__not-found {
    width: 100%;
    height: 100%;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    &-icon {
      @include font(600, 60px, 1.2);
      color: #fff;
      text-align: center;
      transform: rotate(90deg);
    }
    align-items: center;
    justify-content: center;
  }
}

.active-sessions {
  padding-top: 170px;

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(609px, 100%), 1fr));
    gap: 30px;
    margin-bottom: 70px;
  }
  &__item {
    display: flex;
    align-items: center;
    background: rgba(36, 36, 36, 1);
    padding: 37px 30px 37px 30px;
    border-radius: 15px;
    @include media(500px) {
      flex-direction: column;
      gap: 20px;
      text-align: center;
      justify-content: center;
    }
    position: relative;
    &-img {
      width: 48px;
      margin-right: 45px;
      @include media(500px) {
        margin: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        width: 100%;
      }
      @include media(700px) {
        margin-right: 20px;
      }
    }
    &-text-wrapper {
      margin-right: auto;
      @include media(500px) {
        margin: 0;
      }
    }
    &-finish {
      background: none;
      border: none;
      cursor: pointer;
      color: rgba(255, 19, 19, 1);
      @include font(500, 20, 1.2);
      letter-spacing: -0.2px;
    }
    &-title {
      @include font(700, 24px, 1.2);
      letter-spacing: -0.24px;
      margin-bottom: 5px;
      color: #fff;
      @include media(700px) {
        font-size: 18px;
        font-weight: 600;
      }
    }
    &-date {
      display: flex;
      align-items: center;
      gap: 10px;
      @include font(400, 20px, 1.2);
      color: rgba(255, 255, 255, 0.5);
      letter-spacing: -0.2px;
      @include media(500px) {
        justify-content: center;
      }
      @include media(700px) {
        font-size: 16px;
      }
    }
  }
  &__bottom {
    border-radius: 15px;
    background: #121212;
    &-wrapper {
      padding: 70px 40px 40px 40px;
      @include media(800px) {
        padding: 40px;
      }
      @include media(700px) {
        padding: 20px 0;
        background: $bg-color;
      }
    }
    &-title {
      margin-bottom: 70px;
      @include font(500, 28px, 1.2);
    }
  }
}
